
.Card{
    border: 2px solid rgba(0, 0, 0, 0.67);
    width: 300px;
    height: 200px; /* Adjust height as needed */
    margin: 30px;
    display: flex;
    flex-direction:column;
    justify-content: flex-end; /* Push the banner to the bottom */
    position: relative; /* Set relative position */
    transition: all 0.3s ease;
    overflow: hidden; /* Hide overflow */
}
.Card img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the entire box without stretching */
  }
.CardBanner{
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: hsla(208, 100%, 97%, 0);
    width: 100%;  
    position: absolute;
    transition: transform 0.3s ease; /* Smooth transition */
    transform: translateY(100%); /* Hide banner initially */
}
.Card:Hover{
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px rgba(234, 234, 234, 0.5);
    cursor: pointer;
}
.Card:hover .CardBanner {
    transform: translateY(0);
  }

.Card h1 {
    margin: 0; /* Remove default margin */
  }
  
.Card p {
    margin: 10px 0; /* Adjust spacing */
}
.Cards {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: center; /* Center cards horizontally */
}