
body {
  background-color: hsl(0, 0%, 0%);
}
.Page{
  flex: 1;
  background-color: hsl(0, 0%, 25%);
  max-width: 80%; /* Example maximum width */
  margin: 0 auto; /* Center align horizontally */
  padding: 20px; /* Example padding */
  border-radius: 8px; /* Example border radius */
}
.NameBox {
  border: 2px solid rgba(0, 0, 0, 0);
  height: 60px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.Btns{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  border: none;
  cursor: pointer;
}
.hide-background {
  background-color: transparent !important; /* Set background to transparent */
  color: inherit; /* Inherit text color */
}
.Projects{
  margin-bottom: 100px;
}
.banners{
  background-color: hsl(240, 4%, 63%);
  border-radius: 10px;
}

